In [1]:
import pandas as pd
import numpy as np
filepath = 'ddf-data.csv'
##此处提前在源数据文件中把exp_c1,exp_c2列提到了第三和第四列，并在第五列添加了空白列'exp'用于求和
##主要是列数太多了，不好查是第几列，就挪前面了
data = pd.read_csv('ddf-data.csv',usecols=[1,2,3,4])
df = pd.DataFrame(data)
sum_column = df["exp_c1"] + df["exp_c2"]
df["exp"] = sum_column
duplicate_row = df.duplicated(subset=['city_of_airport'],keep=False) 
duplicate_data = df.loc[duplicate_row,:]
duplicate_data_sum = duplicate_data.groupby(by=['city_of_airport']).agg({'exp':sum}).reset_index(drop=True)
print(duplicate_data_sum.head(10))

         exp
0  200237.37
1  267677.22
2  422618.85
3   68608.84
4  300872.07
5  128343.81
6  142566.26
7  815672.33
8  323264.82
9   98415.83

In [2]:
import pandas as pd
import numpy as np
filepath = 'ddf-data.csv'
data = pd.read_csv('ddf-data.csv',usecols=[1])
df = pd.DataFrame(data)
df.drop_duplicates(subset=['city_of_airport'],inplace=True)
df.head(10)
#list(df["city_of_airport"].unique())

     city_of_airport
0              ABUJA
282            ACCRA
679      ADDIS ABABA
1928        ADELAIDE
2154       AHMEDABAD
2925         ALGIERS
3229          ALMATY
3464           AMMAN
4993       AMSTERDAM
6157         ARLANDA

In [12]:
"""
添加于5月25日，老师提供了目的地csv，故下方引用了destination.csv里已有的地域信息，提取国家和地域信息
"""
import pandas as pd
import numpy as np
df = pd.read_csv('destination.csv',usecols=[0,2])
df.drop_duplicates(subset=['Country'],inplace=True)
df
#list(df["Country"].unique())

                  REGION       Country
0    INDIA SUB-CONTINENT   Afghanistan
3                 EUROPE       Albania
4                 AFRICA       Algeria
5                 AFRICA        Angola
6                 EUROPE     Argentina
..                   ...           ...
297               AFRICA         Yemen
299               AFRICA        Zambia
300             FAR EAST     Zimbabwae
301               AFRICA      Zimbabwe
302          MIDDLE EAST  Persian Gulf

[116 rows x 2 columns]

In [11]:
"""
在这里由于matplotlib的basemap使用不便，可视化特定国家艰难，故使用了pyecharts，同时并没有搜到有去全球城市的包，ddf-data中存在100余个城市。
如果人力依次查询并改为国家，显然以完成实验目的来说是无用功，故本次实验中仅用了前10个城市对应国家。
ABUJA	尼日利亚	Nigeria
ACCRA	加纳	Ghana
ADDIS ABABA	埃塞俄比亚	Ethiopia
ADELAIDE	澳大利亚	Australia
AHMEDABAD	印度	India
ALGIERS	阿尔及利亚	Algeria
ALMATY	哈萨克斯坦	Kazakhstan
AMMAN	约旦	Jordan
AMSTERDAM	荷兰	Netherlands
ARLANDA	瑞典	Sweden
"""
from pyecharts import options as opts
from pyecharts.charts import Map
import random
alpha = [
['Nigeria', 200237.37],
['Ghana', 267677.22],
['Ethiopia', 422618.85],
['Australia', 68608.84],
['India', 300872.07],
['Algeria', 128343.81],
['Kazakhstan', 142566.26],
['Jordan', 815672.33],
['Netherlands',323264.82],
['Sweden', 98415.83]
]
"""
修改于5月25日，老师提供了目的地csv，故下方引用了destination.csv里已有的地域信息，进行了国家频数的地图可视化统计
如将 data_pair=datas中的datas改为alpha，则输出的为目的地对应销售额可视化
"""
df = pd.read_csv('destination.csv', encoding='utf-8')['Country']
data = df.value_counts()
datas = [[i, int(j)] for i, j in zip(data.index, data.values)]
print(datas)
def create_world_map():
    (   
        Map()
        .add(
            series_name="lab",
            data_pair=datas,
            maptype="world",
        )
        .set_global_opts(
            title_opts=opts.TitleOpts(title="lab"),
            visualmap_opts=opts.VisualMapOpts(max_=30, is_piecewise=False),
        )
        .set_series_opts(
            label_opts=opts.LabelOpts(is_show=False, color="blue")
        )
        .render("lab3.html")
    )
create_world_map()
##去往项目同级目录下查看生成的html

[['India', 25], ['Russia', 18], ['USA', 18], ['Iran', 15], ['China', 13], ['Saudi Arabia', 11], ['United Kingdom', 10], ['Germany', 9], ['Pakistan', 9], ['Italy', 7], ['Iraq', 6], ['Australia', 5], ['Thailand', 5], ['Japan', 5], ['Kazakhstan', 4], ['United Arab Emirates', 4], ['Spain', 4], ['France', 4], ['South Africa', 4], ['Egypt', 4], ['Afghanistan', 3], ['South Korea', 3], ['Greece', 3], ['Turkey', 3], ['Romania', 2], ['Switzerland', 2], ['Ireland', 2], ['Tanzania', 2], ['Indonesia', 2], ['Brazil', 2], ['Bangladesh', 2], ['Oman', 2], ['Sri Lanka', 2], ['Vietnam', 2], ['Republic of Congo', 2], ['Jordan', 2], ['Somalia', 2], ['Taiwan', 2], ['Sudan', 2], ['Ukraine', 2], ['Yemen', 2], ['Nigeria', 2], ['Kenya', 2], ['Maldives', 1], ['Algeria', 1], ['Austria', 1], ['Latvia', 1], ['Bosnia and Herzegovina', 1], ['Botswana', 1], ['Kish', 1], ['Portugal', 1], ['Sweden', 1], ['Phillipines', 1], ['New Zealand', 1], ['Finland', 1], ['Poland', 1], ['Norway', 1], ['Singapore', 1], ['Cech Republic', 1], ['Cyprus', 1], ['Lebannon', 1], ['Argentina', 1], ['Bulgaria', 1], ['Brunei', 1], ['Ghana', 1], ['Ivory Coast', 1], ['Slovakia', 1], ['Morrocco', 1], ['Ethiopia', 1], ['Myanmar', 1], ['Burkina Faso', 1], ['Cuba', 1], ['Qatar', 1], ['Tunisia', 1], ['Malyasia', 1], ['Hungary', 1], ['Georgia', 1], ['Zambia', 1], ['Holland', 1], ['Albania', 1], ['Guinea', 1], ['Belgium', 1], ['Croatia', 1], ['Seychelles', 1], ['Fiji', 1], ['Macedonia', 1], ['Denmark', 1], ['Angola', 1], ['Bahrain', 1], ['Azerbaijan', 1], ['Nepal', 1], ['Serbia', 1], ['Tajikistan', 1], ['Uzbekistan', 1], ['Kuwait', 1], ['Zimbabwe', 1], ['Estonia', 1], ['Burundi', 1], ['Turkmenistan', 1], ['Luxembourg', 1], ['Persian Gulf', 1], ['Mauritius', 1], ['Rwanda', 1], ['Kyrgyzstan', 1], ['Syria', 1], ['Canada', 1], ['Libya', 1], ['Senegal', 1], ['Armenia', 1], ['Eritrea', 1], ['South Sudan', 1], ['Mongolia', 1], ['Zimbabwae', 1], ['Democratic Republic of Congo', 1], ['Uganda', 1], ['DJIBOUTI', 1]]