In [1]:
import numpy as np
import pandas as pd
df = pd.read_csv("ddf-data.csv",encoding='utf-8',engine='python')
df['time']=1
columns = ['city_of_airport', 'time']
df = pd.DataFrame(data=df, columns=columns)
df1 = df.groupby(['city_of_airport']).sum()
pd.set_option('display.max_rows', None)
df1.to_csv("df2.csv")
df1

In [3]:
import pandas as pd
import numpy as np
data = pd.read_csv('ddf-data.csv',usecols=[1])
df = pd.DataFrame(data)
df=df["city_of_airport"].unique()
df

array(['ABUJA', 'ACCRA', 'ADDIS ABABA', 'ADELAIDE', 'AHMEDABAD',
       'ALGIERS', 'ALMATY', 'AMMAN', 'AMSTERDAM', 'ARLANDA', 'ASMARA',
       'ATHENS', 'ATLANTA', 'AUCKLAND', 'BAGHDAD', 'BAHRAIN', 'BAKU',
       'BANDAR ABBAS', 'BANDAR SERI BEGAWAN', 'BANGALORE', 'BANGKOK',
       'BARCELONA', 'BASRA', 'BEIJING', 'BEIRUT', 'BIRMINGHAM',
       'BORG AL ARAB', 'BRISBANE', 'BRUSSELS', 'BUCHAREST', 'BUDAPEST',
       'CAIRO', 'CALCUTTA', 'CALICUT', 'CAPE TOWN', 'CASABLANCA',
       'CHENNAI', 'CHITTAGONG', 'COCHIN', 'COLOMBO', 'COPENHAGEN',
       'DAKAR', 'DALLAS', 'DAMASCUS', 'DAMMAM', 'DAR ES SALAAM', 'DELHI',
       'DHAKA', 'DOHA', 'DUBLIN', 'DULLES', 'DURBAN', 'DUSHANBE',
       'DUSSELDORF', 'ENTEBBE', 'ERBIL', 'FRANKFURT', 'GASSIM', 'GENEVA',
       'GHESIM', 'GLASGOW', 'GOA', 'GUANGZHOU', 'HAMBURG', 'HELSINKI',
       'HONG KONG', 'HOUSTON', 'HYDERABAD', 'IMAM KHOMENI TEHRAN',
       'INCHEON', 'ISFAHAN', 'ISLAMABAD', 'ISTANBUL', 'J.F.KENNEDY',
       'JAKARTA', 'JEDDAH', 'JOHANNESBURG', 'KABUL', 'KANSAI-JAPAN',
       'KARACHI', 'KERMAN', 'KHARTOUM', 'KIEV BORISPOL', 'KUALA LUMPUR',
       'KUNMING', 'KUWAIT', 'LAGOS', 'LAHORE', 'LARNACA', 'LISBON',
       'LONDON (GATWICK)', 'LONDON (HEATHROW)', 'LOS ANGELES', 'LUANDA',
       'LUSAKA', 'LYON', 'MADRID', 'MADURAI', 'MALE', 'MANCHESTER',
       'MANGALORE', 'MANILA', 'MASHAD', 'MAURITIUS', 'MAYA MAYA',
       'MEDINA', 'MELBOURNE', 'MILAN', 'MOSCOW', 'MULTAN', 'MUMBAI',
       'MUNICH', 'MUSCAT', 'NAIROBI', 'NEWCASTLE UPON TYNE',
       'NICE (FRANCE)', 'NOVOSIBIRSK', nan, 'OHARE', 'ORLANDO', 'OSLO',
       'OSMANI', 'PARIS (CHARLES DE GAULLE)', 'PERTH', 'PESHAWAR',
       'PHUKET', 'PRAGUE', 'PUNE', 'RIO DE JANEIRO', 'RIYADH',
       'ROME LEONARDO (ITALY)', 'SAIGON', 'SALALAHA', 'SAN FRANCISCO',
       'SAO PAULO', 'SEATTLE', 'SEYCHELLES', 'SHANGHAI', 'SHIRAZ',
       'SIALKOT', 'SINGAPORE', 'ST.PETERSBURG', 'SYDNEY', 'TAIPEI',
       'TASHKENT', 'THIRUVANANTHAPURAM', 'TOKYO', 'TOKYO (NARITA)',
       'TORONTO - PEARSON', 'TUNIS', 'URUMQI', 'VENICE', 'VIENNA',
       'WARSAW', 'YEKATERINBURG', 'ZURICH'], dtype=object)

In [5]:
import pandas as pd
import numpy as np
#在这我为了省事，两个表里列名不同，我还得做连接，也不想再写代码了，直接去df2.csv里把列名city_of_airport改成city
#把destination里的列名city_of_airport改成city，Country改成con，然后不用的那两列让我删了
df1 = pd.read_csv("df2.csv",encoding='utf-8',engine='python')
df2 = pd.read_csv("destination.csv",encoding='utf-8',engine='python')
df = df1.merge(df2,how='inner',on='city')
df

                          city  time                con
0                        ABUJA   282            Nigeria
1                        ACCRA   397              Ghana
2                  ADDIS ABABA  1249           Ethiopia
3                     ADELAIDE   226          Australia
4                    AHMEDABAD   771              India
5                      ALGIERS   304            Algeria
6                       ALMATY   235         Kazakhstan
7                        AMMAN  1529             Jordan
8                    AMSTERDAM  1164            Holland
9                      ARLANDA   418             Sweden
10                      ASMARA    44            Eritrea
11                      ATHENS   420             Greece
12                     ATLANTA   271                USA
13                    AUCKLAND     3        New Zealand
14                     BAGHDAD    73               Iraq
15                     BAHRAIN  1535            Bahrain
16                        BAKU   285         Azerbaijan
17                BANDAR ABBAS    42               Iran
18         BANDAR SERI BEGAWAN    85             Brunei
19                   BANGALORE  1425              India
20                     BANGKOK  2380           Thailand
21                   BARCELONA   480              Spain
22                       BASRA   330               Iraq
23                     BEIJING  1980              China
24                      BEIRUT  1445           Lebannon
25                  BIRMINGHAM  1329     United Kingdom
26                BORG AL ARAB   106              Egypt
27                    BRISBANE   498          Australia
28                    BRUSSELS   332            Belgium
29                   BUCHAREST    48            Romania
30                    BUDAPEST   196            Hungary
31                       CAIRO  2260              Egypt
32                    CALCUTTA   679              India
33                     CALICUT   677              India
34                   CAPE TOWN   618       South Africa
35                  CASABLANCA   383           Morrocco
36                     CHENNAI  1621              India
37                  CHITTAGONG   275         Bangladesh
38                      COCHIN  1768              India
39                     COLOMBO   979          Sri Lanka
40                  COPENHAGEN   423            Denmark
41                       DAKAR    88            Senegal
42                      DALLAS   193                USA
43                    DAMASCUS   129              Syria
44                      DAMMAM   651       Saudi Arabia
45               DAR ES SALAAM   412           Tanzania
46                       DELHI  3638              India
47                       DHAKA  1358         Bangladesh
48                        DOHA  3599              Qatar
49                      DUBLIN   741            Ireland
50                      DULLES   499                USA
51                      DURBAN   351       South Africa
52                    DUSHANBE    11         Tajikistan
53                  DUSSELDORF   700            Germany
54                     ENTEBBE   284             Uganda
55                       ERBIL   159               Iraq
56                   FRANKFURT  1460            Germany
57                      GASSIM    37       Saudi Arabia
58                      GENEVA   293        Switzerland
59                      GHESIM    44            Romania
60                     GLASGOW   987     United Kingdom
61                         GOA    49              India
62                   GUANGZHOU  1397              China
63                     HAMBURG   659            Germany
64                    HELSINKI   211            Finland
65                   HONG KONG  2459              China
66                     HOUSTON   273                USA
67                   HYDERABAD  2214              India
68         IMAM KHOMENI TEHRAN  3149               Iran
69                     INCHEON  1357        South Korea
70                     ISFAHAN    41               Iran
71                   ISLAMABAD  1103           Pakistan
72                    ISTANBUL  1625             Turkey
73                 J.F.KENNEDY   681                USA
74                     JAKARTA   687          Indonesia
75                      JEDDAH  1480       Saudi Arabia
76                JOHANNESBURG  1593       South Africa
77                       KABUL   391        Afghanistan
78                KANSAI-JAPAN   302              Japan
79                     KARACHI  1612           Pakistan
80                      KERMAN    20               Iran
81                    KHARTOUM   246              Sudan
82               KIEV BORISPOL   226            Ukraine
83                KUALA LUMPUR  1081           Malyasia
84                     KUNMING   251              China
85                      KUWAIT  1781             Kuwait
86                       LAGOS   669            Nigeria
87                      LAHORE  1155           Pakistan
88                     LARNACA   248             Cyprus
89                      LISBON   333           Portugal
90            LONDON (GATWICK)  1271     United Kingdom
91           LONDON (HEATHROW)  5130     United Kingdom
92                 LOS ANGELES   317                USA
93                      LUANDA   403             Angola
94                      LUSAKA   372             Zambia
95                        LYON   211             France
96                      MADRID   608              Spain
97                     MADURAI   349              India
98                        MALE   716           Maldives
99                  MANCHESTER  1664     United Kingdom
100                  MANGALORE   433              India
101                     MANILA  1839        Phillipines
102                     MASHAD    50               Iran
103                  MAURITIUS  1134          Mauritius
104                  MAYA MAYA    31  Republic of Congo
105                     MEDINA    91       Saudi Arabia
106                  MELBOURNE   710          Australia
107                      MILAN  1073              Italy
108                     MOSCOW  1790             Russia
109                     MULTAN   174           Pakistan
110                     MUMBAI  4377              India
111                     MUNICH  1317            Germany
112                     MUSCAT  1304               Oman
113                    NAIROBI  1148              Kenya
114        NEWCASTLE UPON TYNE   382     United Kingdom
115              NICE (FRANCE)   277             France
116                NOVOSIBIRSK    78             Russia
117                      OHARE   156                USA
118                    ORLANDO   161                USA
119                       OSLO   358             Norway
120                     OSMANI   133              India
121  PARIS (CHARLES DE GAULLE)  1680             France
122                      PERTH   683          Australia
123                   PESHAWAR   559           Pakistan
124                     PHUKET   327           Thailand
125                     PRAGUE   483      Cech Republic
126                       PUNE   166              India
127             RIO DE JANEIRO   410             Brazil
128                     RIYADH  2930       Saudi Arabia
129      ROME LEONARDO (ITALY)   750              Italy
130                     SAIGON   208            Vietnam
131                   SALALAHA    81               Oman
132              SAN FRANCISCO   275                USA
133                  SAO PAULO   530             Brazil
134                    SEATTLE   318                USA
135                 SEYCHELLES   514         Seychelles
136                   SHANGHAI  1386              China
137                     SHIRAZ    38               Iran
138                    SIALKOT   137              India
139                  SINGAPORE  1612          Singapore
140              ST.PETERSBURG   178             Russia
141                     SYDNEY   917          Australia
142                     TAIPEI   448             Taiwan
143                   TASHKENT   167         Uzbekistan
144         THIRUVANANTHAPURAM   926              India
145                      TOKYO   187              Japan
146             TOKYO (NARITA)   401              Japan
147          TORONTO - PEARSON   251             Canada
148                      TUNIS   236            Tunisia
149                     URUMQI    92              China
150                     VENICE   291              Italy
151                     VIENNA   646            Austria
152                     WARSAW   260             Poland
153              YEKATERINBURG    89             Russia
154                     ZURICH  1148        Switzerland

In [6]:
columns = ['con', 'time']
df = pd.DataFrame(data=df, columns=columns)
df3 = df.groupby(['con']).sum()
pd.set_option('display.max_rows', None)
df3.to_csv("df3.csv")
df3

                    time
con
Afghanistan          391
Algeria              304
Angola               403
Australia           3034
Austria              646
Azerbaijan           285
Bahrain             1535
Bangladesh          1633
Belgium              332
Brazil               940
Brunei                85
Canada               251
Cech Republic        483
China               7565
Cyprus               248
Denmark              423
Egypt               2366
Eritrea               44
Ethiopia            1249
Finland              211
France              2168
Germany             4136
Ghana                397
Greece               420
Holland             1164
Hungary              196
India              19363
Indonesia            687
Iran                3340
Iraq                 562
Ireland              741
Italy               2114
Japan                890
Jordan              1529
Kazakhstan           235
Kenya               1148
Kuwait              1781
Lebannon            1445
Maldives             716
Malyasia            1081
Mauritius           1134
Morrocco             383
New Zealand            3
Nigeria              951
Norway               358
Oman                1385
Pakistan            4603
Phillipines         1839
Poland               260
Portugal             333
Qatar               3599
Republic of Congo     31
Romania               92
Russia              2135
Saudi Arabia        5189
Senegal               88
Seychelles           514
Singapore           1612
South Africa        2562
South Korea         1357
Spain               1088
Sri Lanka            979
Sudan                246
Sweden               418
Switzerland         1441
Syria                129
Taiwan               448
Tajikistan            11
Tanzania             412
Thailand            2707
Tunisia              236
Turkey              1625
USA                 3144
Uganda               284
Ukraine              226
United Kingdom     10763
Uzbekistan           167
Vietnam              208
Zambia               372

In [7]:
df4 = pd.read_csv("df3.csv",encoding='utf-8',engine='python')
a = np.array(df4['con'])
b = np.array(df4['time'])
list(zip(a, b))
c = [[i, int(j)] for i, j in zip(a,b)]
c

[['Afghanistan', 391],
 ['Algeria', 304],
 ['Angola', 403],
 ['Australia', 3034],
 ['Austria', 646],
 ['Azerbaijan', 285],
 ['Bahrain', 1535],
 ['Bangladesh', 1633],
 ['Belgium', 332],
 ['Brazil', 940],
 ['Brunei', 85],
 ['Canada', 251],
 ['Cech Republic', 483],
 ['China', 7565],
 ['Cyprus', 248],
 ['Denmark', 423],
 ['Egypt', 2366],
 ['Eritrea', 44],
 ['Ethiopia', 1249],
 ['Finland', 211],
 ['France', 2168],
 ['Germany', 4136],
 ['Ghana', 397],
 ['Greece', 420],
 ['Holland', 1164],
 ['Hungary', 196],
 ['India', 19363],
 ['Indonesia', 687],
 ['Iran', 3340],
 ['Iraq', 562],
 ['Ireland', 741],
 ['Italy', 2114],
 ['Japan', 890],
 ['Jordan', 1529],
 ['Kazakhstan', 235],
 ['Kenya', 1148],
 ['Kuwait', 1781],
 ['Lebannon', 1445],
 ['Maldives', 716],
 ['Malyasia', 1081],
 ['Mauritius', 1134],
 ['Morrocco', 383],
 ['New Zealand', 3],
 ['Nigeria', 951],
 ['Norway', 358],
 ['Oman', 1385],
 ['Pakistan', 4603],
 ['Phillipines', 1839],
 ['Poland', 260],
 ['Portugal', 333],
 ['Qatar', 3599],
 ['Republic of Congo', 31],
 ['Romania', 92],
 ['Russia', 2135],
 ['Saudi Arabia', 5189],
 ['Senegal', 88],
 ['Seychelles', 514],
 ['Singapore', 1612],
 ['South Africa', 2562],
 ['South Korea', 1357],
 ['Spain', 1088],
 ['Sri Lanka', 979],
 ['Sudan', 246],
 ['Sweden', 418],
 ['Switzerland', 1441],
 ['Syria', 129],
 ['Taiwan', 448],
 ['Tajikistan', 11],
 ['Tanzania', 412],
 ['Thailand', 2707],
 ['Tunisia', 236],
 ['Turkey', 1625],
 ['USA', 3144],
 ['Uganda', 284],
 ['Ukraine', 226],
 ['United Kingdom', 10763],
 ['Uzbekistan', 167],
 ['Vietnam', 208],
 ['Zambia', 372]]

In [9]:
import pandas as pd
import numpy as np
from pyecharts import options as opts
from pyecharts.charts import Map
import random
def create_world_map():
    (   
        Map()
        .add(
            series_name="lab",
            data_pair=c,
            maptype="world",
        )
        .set_global_opts(
            title_opts=opts.TitleOpts(title="lab"),
            visualmap_opts=opts.VisualMapOpts(max_=20000, is_piecewise=True),
        )
        .set_series_opts(
            label_opts=opts.LabelOpts(is_show=False, color="blue")
        )
        .render("lab.html")
    )
create_world_map()
##去往项目同级目录下查看生成的html